{% extends "base_book.html" %}

{% block title %}The Law and the Promise{% endblock %}

{% block inner_content %}

<h3>CHAPTER I <br />THE LAW: IMAGINING CREATES REALITY</h3>

<p>When man solves the mystery of imagining, he will have discovered the secret of causation, and that is: <strong>Imagining creates reality.</strong></p>

<p>An awakened Imagination works with a purpose. It creates and conserves the desirable, and transforms or destroys the undesirable.<br>
  Divine imagining and human imagining are not two powers at all, rather one. The valid distinction which exists between the seeming two lies not in the substance with which they operate but in the degree of intensity of the operant power
  itself. <em>Acting at high tension, an imaginal act is an immediate objective fact. Keyed low, an imaginal act is realized in a time process.</em></p>

<p>...the individual who can summon at will whatever imaginal activity he pleases and to whom the visions of his imagination are as real as the forms of nature, is master of his fate.</p>

<p>Do not bow before the dictate of facts and accept life on the basis of the world without. Assert the supremacy of your Imaginal acts over facts and put all things in subjection to them. <em>Hold fast to your ideal in your imagination.
    Nothing can take it from you but your failure to persist in imagining the ideal realized.</em>
  Imagine only such states that are of value or promise well.</p>

<p>There can be no outer change until there is first an imaginal change.</p>

<p>How do you do it? <em>Self-abandonment! That is the secret. You must abandon yourself mentally to your wish fulfilled in your love for that state,</em> and in so doing, live in the new state and no more in the old state.
  <em>You can’t commit yourself to what you do not love,</em> so the secret of self-commission is faith – plus love.
  Faith is believing what is unbelievable. Commit yourself to the feeling of the wish fulfilled, in faith that this act of self-commission will become a reality. And it must become a reality because imagining creates reality.
</p>

<p>Imagination is spiritual sensation. Enter the image of the wish fulfilled, then <em>give it sensory vividness and tones of reality by mentally acting as you would act were it a physical fact.</em></p>

<p>Through spiritual sensation – that is – through imaginal sight, sound, scent, taste and touch, you can give to the image sensory vividness. If you do this, all things will conspire to aid your harvesting and upon reflection you will see
  how subtle were the threads that led to your goal.
  <em>You could never have devised the means which your imaginal activity employed to fulfill itself.</em>
</p>

<p>If you long to escape from your present sense fixation, to transform your present life into a dream of what might well be, you need but imagine that <em>you are already what you want to be and to feel the way you would expect to feel</em>
  under such circumstances</p>

<p><em>Changing your life means changing the past.</em> The causes of any present evil are the unrevised scenes of the past. The past and the present form the whole structure of man; they are carrying all of its contents with it. Any
  alteration of content will result in an alteration in the present and future.</p>

<h3>CHAPTER II <br />DWELL THEREIN</h3>

<p>Man, through the medium of a controlled, waking dream, can predetermine his future. That imaginal activity, of living in the feeling of the wish fulfilled, leads man across a bridge of incident to the fulfillment of the dream. If we live
  in the dream – thinking <i>from</i> it, and not <i>of</i> it – then the creative power of imagining will answer our adventurous fancy, and the wish fulfilled will break in upon us and take us unawares.</p>

<p>However real the scene on which sight rests, man can gaze on one never before witnessed. He can always remove the mountain if it upsets his concept of what life ought to be. This ability to mentally move from things as they are to things
  as they ought to be, is one of the most important discoveries that man can make. It reveals man as a center of imagining with powers of intervention which enable him to alter the course of observed events, moving from success to success
  through a series of mental transformations of nature, of others, and himself.</p>

<p>One must adopt either the way of imagination or the way of sense. No compromise or neutrality is possible. “He who is not for me is against me” (Matthew 12:30, Luke 11:23).</p>

<p>Observe your imaginal activities. <em>Imagine better than the best you know, and create a better world for yourself and others.</em> Live as though the wish had come, even though it is yet to come, and you will shorten the period of
  waiting. The world is imaginal, not mechanistic.</p>

<h3>CHAPTER III <br />TURN THE WHEEL BACKWARD</h3>

<blockquote class="important">
  <p>Oh, let your strong imagination turn the great wheel backward, until Troy unburn.</p>
  <p class="author">(Sir) John Collings Squire<br /> <cite>“The Birds”</cite></p>
</blockquote>

<p>The creatively active imagination invariably unsettles a pre-existing peace of mind.</p>

<p>The question may arise as to how, by representing others to ourselves as better than they really were, or mentally rewriting a letter to make it conform to our wish, or by revising the scene of an accident, the interview with the employer,
  and so on – could change what seems to be the unalterable facts of the past, but remember my claims for imagining: Imagining Creates Reality.</p>

<p>The parable of the unjust steward (Luke 16:1-8)... We can alter our world by means of a certain “illegal” imaginal practice, by means of a mental falsification of the facts – that is, by means of a certain intentional imaginal alteration
  of that which we have experienced.</p>

<p>By means of such a falsehood, a man destroys the causes of evil and acquires friends and on the strength of this revision proves, judging by the high praise the unjust steward received from his master, that he is deserving of confidence.
</p>

<p>We learn to distinguish between man – who is all imagination – and those states into which he may enter. An unjust steward, looking at another’s distress, will represent the other to himself as he ought to be seen.</p>

<p>To revise the past is to re-construct it with new content.
  <em>Man should daily relive the day as he wished he had lived it,</em> revising the scenes to make them conform to his ideals. For instance, suppose today’s mail brought disappointing news. Revise the letter. Mentally rewrite it and make it
  conform to the news you wish you had received. Then, in imagination, read the revised letter over and over again and this will arouse the feeling of naturalness; and
  <em>imaginal acts become facts as soon as we feel natural in the act.</em>
</p>

<p>If man does not always create in the full sense of the word, it is because he is not faithful to his vision, or else he thinks of what he wants rather than <i>from</i> his wish fulfilled.</p>

<p>To live creatively, imagining novel solutions to ever more complex problems is far nobler than to restrain or kill out desire.
  <em>All that is desired can be imagined into existence.</em>
</p>

<p>Try to <em>revise your day every night before falling asleep.</em> Try to visualize clearly and enter into the revised scene which would be the imaginal solution of your problem. The revised imaginal structure may have a great influence on
  others, but that is not your concern.</p>

<p>By using her imagination radically, instead of conservatively – by building her world out of pure dreams of fancy – rather than using images supplied by memory, she brought about the fulfillment of her dream. Common sense would have used
  images supplied by her memory, and thereby perpetuated the fact of lack in her life.</p>

<p>There is no inevitable permanence in anything. Both past and present continue to exist only because they are sustained by “Imagining” on some level or other; and a radical transformation of life is always possible by man revising the
  undesirable part of it.</p>

<p><em>Any imaginal activity acquiring intensity</em> through our concentrated attention to clarity of the end desired <em>tends to overflow into regions beyond where we are;</em>
  but we must leave it to take care of such imaginal activity itself.
  <em>It is marvelously resourceful in adapting and adjusting means to realize itself.</em>
  Once we think in terms of influence rather than of clarity of the end desired, the effort of imagination becomes an effort of will and the great art of imagining is perverted into tyranny.
</p>

<p>“How much do you owe my master?” He said, “A hundred measures of oil”. And he said to him, “Take your bill, and sit down quickly and write fifty!” (Luke 16:5,6). This parable of the unjust steward urges us to mentally falsify the facts of
  life, to alter a theme already in being. By means of such imaginative falsehoods, a man “acquires friends” (Luke 16:9). As each day falls, mentally revise the facts of life and make them conform to events well worthy of recall; tomorrow
  will take up the altered pattern and go forward until at length it is realized on the heights of attainment.</p>

<p>Now, “it is high time to awake out of sleep” (Romans 13:11) and put an end to all the unlovely creations of sleeping Man.</p>

<h3>CHAPTER IV <br />THERE IS NO FICTION</h3>

<p>If an imaginal activity can produce a physical effect, our physical world must be essentially imaginal.</p>

<p>If we had this wider view of causation – that causation is mental, not physical – that our mental states are causative of physical effects, then we would
  <em>realize our responsibility as a creator and imagine only the best imaginable.</em>
</p>

<p>“In the moment of the tragic catastrophe”, writes Schopenhauer, “the conviction becomes more distinct to us than ever that life is a bad dream from which we have to awake.” And the bad dream is caused by the imaginal activity of sleeping
  humanity.</p>

<p>Imaginal acts on the human level need a certain interval of time to develop but imaginal acts, whether committed to print or locked in the bosom of a hermit, will realize themselves in time.<br />
  <em>Test yourself, if only out of curiosity.</em>
  You will discover the “Prophet” is your own imagining and you will know “there is no fiction”.
</p>

<p>“And now I have told you before it takes place, so that when it does take place, you may believe.” (John 14:29)</p>

<p>Ends run true to their imaginal origins – we reap the fruit of forgotten blossom-time. In life the events do not come up always where we have strewn the seed; so that we may not recognize our own harvest.</p>

<!-- CHAPTER V SUBTLE THREADS -->

<h3>CHAPTER VI <br />VISIONARY FANCY</h3>

<p>The images of our imagination are the realities of which any physical manifestation is only the shadow. If we are faithful to vision, the image will create for itself the only physical manifestation of itself it has a right to make. We
  speak of the “reality” of a thing when we mean its material substance. That is exactly what an imaginist means by its “unreality” or shadow.</p>

<blockquote class="important">
  <p>An assumption, though false, if persisted in, will harden into fact.</p>
  <p class="author">Anthony Eden</p>
</blockquote>

<p><em>Would you not buy your wish fulfilled?</em> Your dreams are without price and without money.</p>

<p>Nothing merely goes on – including the sense of loss – without its imaginal support.<br />
  By imagining that she was seated in her own chair, in her own living room, surrounded by all of her own furnishings, she withdrew the imaginal support she had given to her sense of loss; and by this imaginal change she recovered her lost
  furniture and re-established her home.</p>

<blockquote class="important">
  <p>To travel is the privilege, not of the rich but of the imaginative.</p>
  <p class="author">Stephen Berrien Stanton<br /> <cite>“The Essential Life”, 1908</cite></p>
</blockquote>

<h3>CHAPTER VII <br />MOODS</h3>

<p>We say that we are happy because we have achieved our goal; we do not realize that the process works equally well in the reverse direction – that we shall achieve our goal because we have assumed the happy feeling of the wish fulfilled.
  <br />
  Moods are not only the result of the conditions of our life; they are also the causes of those conditions.
</p>

<p>...that ‘imagining creates reality’ and that ‘feeling’ is the secret of imagining.</p>

<p>...my desperation forced me to put my imagination to the test. Indeed, I had nothing to lose.</p>

<p>One lecture night I heard you tell of an artist who captured the ‘feeling’, or ‘word’, as you called it, of ‘isn’t it wonderful!’ in his personal experience. “I began to apply this idea to my case. Instead of thinking of and imagining
  every article I needed, I tried to capture
  <em>the ‘feeling’ that something wonderful was happening to me – not tomorrow, not next week – but right now.</em>
  <br />
  I would say over and over to myself as I fell asleep, <em>‘Isn’t it wonderful! Something marvelous is happening to me now!’</em> And as I fell asleep I would feel the way I would expect to feel under such circumstances.
</p>

<blockquote class="important">
  <p>“If the fool would persist in his folly He would become wise.”</p>
  <p class="author">William Blake</p>
</blockquote>

<p>Thus the man with palsy was told to rise, to take up his bed and walk – to mentally act as if he were healed (Matthew 9:1-8; Mark 2:1-13; Luke 5:18-25; John 5:1-17); and when the actions of his imagination corresponded with the actions
  which he would physically perform were he healed – he was healed.</p>

<p>The boundless opportunities opened by recognizing the shift of the focus of imagining are beyond measure.
  <em>There are no boundaries.</em>
  The drama of life is an imaginal activity in which we bring to pass by our moods rather than by our physical acts. ... The mood of the wish fulfilled is the high tide which lifts us easily off the bar of the senses where we usually lie
  stranded. If we are aware of the mood and know this secret of imagining, we may announce that
  <em>all that our mood affirms will come to pass.</em>
</p>

<h3>CHAPTER VIII <br />THROUGH THE LOOKING GLASS</h3>

<p>To move from perceptual awareness, or things as they seem, to conceptual awareness, or things as they ought to be, we imagine as vivid and as life-like a representation as possible of what we would see, hear, and do, were we physically
  present, and physically experiencing things as they ought to be and imaginatively participate in that scene.</p>

<p><em>“We walk by faith, not by sight.” (2Cor. 5:7)</em></p>

<p>When we walk by sight, we know our way by objects which our eyes see. When we walk by faith, we order our life by scenes and actions which only imagination sees.</p>

<p><em>We can’t commit ourselves to what we do not love.</em> “Never would you have made anything if you had not loved it.”</p>

<p>We must be “imitators of God as dear children” (Ephesians 5:1) and <em>commit ourselves to what we love</em>, as God Who loved us committed Himself to us. We must BE the state to experience the state.</p>

<p>The center of conscious imagining can be shifted and what are now mere wishes – imaginal activities keyed low – brought into penetrative focus and entered. Entrance commits us to the state. The possibilities of such shifting of the center
  of imagining are startling... The shifting of the center of imagining is not brought about by spatial travel but by a change in what we are aware of... We do not get far unless we let go.</p>

<p>If we take shifting of awareness seriously, there are possibilities beyond belief.</p>

<h3>CHAPTER IX <br />ENTER INTO</h3>

<blockquote class="important">
  <p>If the Spectator would Enter into these Images in his Imagination, approaching them on the Fiery Chariot of his Contemplative Thought, if he could… make a Friend & Companion of one of these Images of wonder, which always entreats him to
    leave mortal things (as he must know) then would he arise from his Grave, then would he meet the Lord in the Air & then he would be happy.</p>
  <p class="author">William Blake</p>
</blockquote>

<p>Imagination it seems will do nothing that we wish until we enter into the image of the wish fulfilled.</p>

<p>Blake tells us that these images are ‘Shadowy to those who dwell not in them, mere possibilities; but to those who enter into them they seem the only substances…’</p>

<p>I suggested to my friends that they build an imaginal structure... and that was to sleep, imagining they were physically present in their new home, feeling they had sold their old home. I explained to them the wide difference between
  thinking <i>of</i> the image of their new house, and thinking <i>from</i> the image of their new house. Thinking <i>of</i> it is a confession they are not in it; thinking <i>from</i> it is proof that they are in it.
  Entering into the image would give substance to the image.
</p>

<p>Unless the individual imagines himself, someone else, or somewhere else, the present conditions and circumstances of his life will continue in being and his problems recur, for all events renew themselves from his constant images. By him
  they were made; by him they continue in being; and by him they can cease to be.</p>

<h3>CHAPTER X <br />THINGS WHICH DO NOT APPEAR</h3>

<blockquote class="important">
  <p>…what is seen was made out of things which do not appear.</p>
  <p class="author">Hebrews 11:3</p>
</blockquote>

<p>[<i>Natalia:</i> I like the New Living Translation of Hebrews 11:3]
  <br />
  "By faith we understand that the entire universe was formed at God’s command, that what we now see did not come from anything that can be seen."<br />
</p>

<p>Man, through his imaginal activity, literally “calls into existence the things that do not exist” (Romans 4:17).</p>

<p>
  <em>It is for us to assemble the images of happy outcome and then keep from interfering. The event must not be forced but allowed to happen.</em>
</p>

<p>There is no form in nature, which is not produced by, and sustained by some imaginal activity. Therefore, any change in the imaginal activity must result in a corresponding change in form. To imagine a substitute-image for unwanted or
  defective content is to create it. If only we
  <em>persist in our ideal imaginal activity and do not let lesser satisfactions suffice,</em> ours shall be the victory.
</p>

<h3>CHAPTER XI <br />THE POTTER</h3>

<blockquote class="important">
  <p>Arise, and go down to the potter’s house, and there I will let you hear my words. So, I went down to the potter’s house, and there he was working at his wheel. And the vessel he was making of clay was spoiled in the potter’s hand, and he
    reworked it into another vessel, as it seemed good to the potter to do.</p>
  <p class="author">Jeremiah 18:2-4</p>
</blockquote>

<p>The word translated 'Potter' means imagination. Out of material others would have thrown away as useless, an awakened imagination refashions it as it ought to be.</p>

<p>Divine Imagination has descended to the level of human imagination, that human imagination may ascend to Divine Imagination.</p>

<p>
  <em>Imagination is radically creative when all imaginative activity based on memory disappears.</em>
</p>

<blockquote class="important">
  <p>Examine yourselves to see whether you are holding to the faith. Test yourselves. Do you not realize that Jesus Christ is in you? Unless indeed you fail to meet the test! I hope you will find out that we have not failed.</p>
  <p class="author">2Cor. 13:5,6</p>
</blockquote>

<p>
  <em>The test will prove to man that his imagination is the One, "who gives life to the dead and calls into existence the things that do not exist."</em> (Rom. 4:17)
</p>

<p>Every recorded story in this book is just such a test as Paul asked the Corinthians to make. God really and truly exists in man – in every human being. God wholly becomes us. He is not our virtue but our Real Selves – Our Imagination.</p>

<p>To attain our desire we should imagine scenes implying their fulfillment, and enact the scene in our imagination, if only momentarily,
  <em>with a joy sufficiently felt within its limits to make it natural</em>...
  We must imagine we are what we would like to be. We must play it in imagination first – not as a spectator – as an actor.
</p>

<p>We must actually BE, in imagination. It is one thing to think <i>of</i> the end, and another thing to think <i>from</i> the end.
  To think from the end; to enact the end, is to create reality.</p>

<h3>CHAPTER XII <br />ATTITUDES</h3>

<p>None is to be discarded, <em>all must be saved,</em>
  and our Imagination reshaping memory is the process whereby this salvation is brought to pass. To condemn a man for having lost his way is to punish the already punished. "O Whom should I pity if I pity not the sinner who is gone astray?"
  (William Blake, "Jerusalem"). Not what the man was, but what he may become should be our imaginal activity.</p>

<p>Nothing has existence for us save through the memory we have of it,
  <em>therefore we should remember it not as it was</em> – unless of course, it was altogether desirable –
  <em>but as we desire it to be.</em>
</p>

<p>Nothing is real beyond the imaginative patterns we make of it. Memory, no less than desire, resembles a day-dream.</p>

<blockquote class="important">
  <p>Every thing possible to be believ'd is an image of truth.</p>
  <p class="author">William Blake</p>
</blockquote>

<h3>CHAPTER XIII <br />ALL TRIVIA</h3>

<p>We must use our imagination to achieve particular ends, even if the ends are all trivia. Because men do not clearly define and imagine particular ends the results are uncertain, while they might [must?] be perfectly certain. To imagine
  particular ends is to discriminate clearly.</p>

<p>Life on earth is a kindergarten for image making.</p>

<p>We must live wholly on the level of Imagination. And it must be consciously and deliberately undertaken.</p>

<h3>CHAPTER XIV <br />THE CREATIVE MOMENT</h3>

<p>One real creative moment, one real feeling of the wish fulfilled, is worth more than the whole natural life of re-action. In such a moment, God's work is done.</p>

<p>Our dreams will all be realized from the time that we know that Imagining Creates Reality – and Act. But Imagination seeks from us something much deeper and more fundamental than creating things: nothing less indeed than the recognition of
  its own oneness, with God; that what it does is, in reality, God Himself doing in it and through Man, who is All Imagination.</p>

<h3>CHAPTER XV <br />THE PROMISE: FOUR MYSTICAL EXPERIENCES</h3>

<p>My mystical experiences have brought me to accept literally, the saying that all the world's a stage. And to believe that God plays all the parts. <em>The purpose of the play? To transform man, the created, into God, the creator.</em></p>

<p>Just as God in His love for man so completely identified Himself with man that He forgot that He was God, so <em>man in his love for God must so completely identify himself with God that he lives the life of God,</em> that is,
  Imaginatively.</p>

<p>"Rouse thyself! Why sleepest thou, O Lord? Awake!" (Ps. 44:23)</p>

{% endblock %}
