body {	
	margin: 0;
    color: #333;
    font: 16px "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;    
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {	
	background-color: aliceblue;
/* 	padding: 0 5px; */
}

a.book-notes-link{
	display: block;
}

a.book-notes-link:hover{
/* box-shadow: 0 5px 0 #39B; */
}

.container{
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;  
	align-items: stretch;
}

body > header {
	position: relative;    
    background-color: #333;
    color: white;
    text-align: center;
    padding: 50px;
    margin-top: 30px;
}

body > header:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

h1, h2, h3 {
    font: 300 16px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

h1, h2{
	text-transform: uppercase;
}

h1 {
    font-size: 2em;
}

h2, h3 {
	font-size: 1.2em;
}

#heading {	
	margin: 0 auto;
/*     margin-left: 26%; */
}

#resume {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -26px;
    border: 2px solid whitesmoke;
    border-right: 0;
    padding: 0 10px;
}

#resume-left {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -26px;
    border: 2px solid whitesmoke;
    border-left: 0;
    padding: 0 10px;
}

#resume-left a{
	color: white;
}

img {
	display: block;
	width: 100%;
}

.book-notes-link img{
	margin-bottom: 30px;
}

.book-notes-link img:hover {
/*     -webkit-box-shadow: 0 0 60px rgba(0,0,0,.2);
    box-shadow: 0 0 60px rgba(0,0,0,.2);
    -webkit-transform: rotate(1.5deg) translate3d(0,-10px,0);
    transform: rotate(1.5deg) translate3d(0,-10px,0);
	transition: all .3s ease; */
}

p.centered {
    text-align: center;
    font-style: italic;
	margin: 0;
    padding-bottom: 5px;
}

/* p.important {
	width: 80%;
	margin: auto auto;	
	background-color: #624245;
	margin-top: 5px;
	margin-bottom: 14px;
	padding: 2px 0;
} 

p.important a {
	color: aliceblue;
}

p.important:hover {
	background-color: aliceblue;		
}

p.important:hover  a, p.important a:hover{
	color: #624245;		
} */

p.author{
	margin-top: 0;
	padding-left: 20px;
}

main {    
    width: 80%;   
    margin: 0 auto;
}

ul.book-list {
    padding-top: 30px;
}

ul.book-list{	
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    grid-column-gap: 45px;
	flex-wrap: wrap;
}

ul.book-list li{
	width: auto;
	box-sizing: border-box;
}

.important{	
	background: #e6ddde;
	padding: 10px;
}

.important ul {
	border: .75rem solid white;
/* 	background: #dbf0fd; */
	margin: 20px;
} 

.important p{
	margin-left: 20px;
	padding-right: 10px;
}

article p:first-of-type, article div:first-of-type, article h2:first-of-type{
	margin-top: 30px;
}

article{
	max-width: 100ch;
	margin: 30px auto;
}

article header, li header {
    color: white;
    background-color: #39F;
}

article p, li p {
    text-align: justify;
}

article h2, article h3, li h2, li h3 {
    text-align: center;
    padding: 5px 0;
    margin-bottom: 3px;
	font-family: 'Arvo', 'Playfair Display', serif;
}

article h3 {
	font-size: 1.3em;
}

article h4{
	text-align: center;
    margin: 7px;
	font: 1.2em 'Arvo', 'Playfair Display', serif;
}

hr {   
	width: 70px;
    height: 3px;
    border: 0;
    background-color: #eee;
}

article span, li span {
    text-align: center;
}

footer {
	margin: 60px 0 40px 0;
	text-align: center;
}

footer hr {
	background-color: #d0c0c1;
}

small {
	font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 95%;
/* 	float: right; */
    margin: auto auto;
	padding-bottom: 20px;
	padding-right: 20px;
}

em {
	font-style: normal;
	background: #d0c0c1;
}

.detail-header{
	max-width: 300px;
	margin: 20px auto;
}
.detail-list li{
    padding: 5px 0;
    margin-left: 30px;
}

.detail-img{
	margin: 0 auto 16px;
    max-width: 300px;
}

/*================================================
Start link underline
==================================================*/

.underline-magical {
  background-image: linear-gradient(120deg, #84fab0 20%, #39F 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 100%;
  transition: background-size 0.3s ease-in;
}
.underline-magical:hover {
    background-size: 100% 100%;
  }

/*================================================
End link underline
==================================================*/